@model ThirdWebZoo.Models.AllModel
@{
    ViewData["Title"] = "All Animals";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model.AllCategories!)
{
    <div class="rounded float-start m-4">

        <a class="btn btn-light" value="check" asp-action="IndexSpec" asp-controller="Animals"
       asp-route-categoryId="@item.CategoryId">
            <img src=@item.AnimalPicture class="myPic image-responsive" />
        </a>

        <br />
        <a class="btn btn-outline-light m-2" asp-controller="Species" asp-action="IndexSpec"
       asp-route-categoryId="@item.CategoryId"> @item.Name </a>
    </div>
}
@if (ViewBag.Admin == true)
{
    <br />
    <form asp-controller="Admin" asp-action="AddAnimal" method="post">
        <button type="submit"><img class="plusBtn" src="~/MainImages/Plus.jpg" /></button>
        <input class="mt-4 btn btn-outline-light" type="submit" asp-controller="Admin" asp-action="AddAnimal">
    </form>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Portrait</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.AllAnimals!)
        {
            <tr>
                <td>
                    <div class="rounded float-start m-4">
                        <a class="btn btn-light" value="check" asp-action="GetAnimal" asp-controller="Animals"
                       asp-route-animalid="@element.AnimalId">
                            <img src=@element.AnimalPicture class="myPic image-responsive" />
                        </a>
                    </div>
                </td>
                <td>
                    <div class="rounded float-start m-4">
                        <a class="btn btn-light" value="check" asp-action="GetAnimal" asp-controller="Animals"
                       asp-route-animalid="@element.AnimalId">@element.Name</a>
                    </div>
                </td>
                <td>@element.Description</td>
                <td>
                    <div>
                        @if (element.Comments_Animals != null)
                        {
                            @element.Comments_Animals!.Count
                        }
                        else
                        {
                            @ViewBag.Empty
                        }
                        @if (ViewBag.User == true || ViewBag.Admin == true)
                        {
                            <form asp-controller="Animals" asp-action="NewComment" method="post">
                                <div>
                                    <input name="newComment" placeholder="Write Comment" />
                                    <input name="AnimalId" type="hidden" value="@element.AnimalId" />
                                </div>
                                <input type="submit" name="AnimalId" value="comment" onclick="alert(msg)" />
                            </form>
                        }
                        @if (ViewBag.Admin == true)
                        {
                            <form asp-controller="Admin" asp-action="DeleteAnimal" method="post">
                                <input type="hidden" name="AnimalId" value="@element.AnimalId" />
                                <input type="submit" name="AnimalId" value="Delete" onclick="alert(deleteMsg)" />
                            </form>

                            <form asp-controller="Admin" asp-action="EditAnimal" method="post">
                                <input type="hidden" name="AnimalId" value="@element.AnimalId" />
                                <input type="submit" name="AnimalId" value="Edit" />
                            </form>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Animals" asp-action="AllAnimals"><img src="~/MainImages/button.png" /></a>
<br />
@await Html.PartialAsync("_MapBtnPartialView")

