@model ThirdWebZoo.Models.AllModel
@{
    ViewData["Title"] = "All Animals";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model.AllCategories!)
{
    <div class="rounded float-start m-4">

        <a class="btn btn-primary" value="check" asp-action="IndexSpec" asp-controller="Species"
       asp-route-categoryId="@item.CategoryId">
            <img src=@item.AnimalPicture class="myPic image-responsive" />
        </a>

        <br />
        <a class="btn btn-outline-primary m-2" asp-controller="Species" asp-action="IndexSpec"
       asp-route-categoryId="@item.CategoryId"> @item.Name </a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Portrait</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.AllAnimals!)
        {
            <tr>
                <td>
                    <div class="rounded float-start m-4">
                        <a class="btn btn-primary" value="check" asp-action="GetAnimal" asp-controller="Animals"
                       asp-route-animalid="@element.AnimalId">
                            <img src=@element.AnimalPicture class="myPic image-responsive" />
                        </a>
                    </div>
                </td>
                <td>
                    <div class="rounded float-start m-4">
                        <a class="btn btn-primary" value="check" asp-action="GetAnimal" asp-controller="Animals"
                       asp-route-animalid="@element.AnimalId">@element.Name</a>
                    </div>
                </td>
                <td>@element.Description</td>
                <td>
                    <div>
                        @if (element.Comments_Animals != null)
                        {
                            @element.Comments_Animals!.Count
                        }
                        else
                        {
                            @ViewBag.Empty
                        }
                    </div>
                    <form asp-controller="Animals" asp-action="NewComment" method="post">
                        <div>
                            <input name="newComment" placeholder="Write Comment" />
                            <input name="AnimalId" type="hidden" value="@element.AnimalId" />
                        </div>
                        <input type="submit" name="AnimalId" value="comment" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_MapBtnPartialView")
