@model IEnumerable<ThirdWebZoo.Models.Comment>
@{
    ViewData["Title"] = "GetAnimal";
}

<h1>Meet @ViewBag.AnimalName</h1>
<br />
<p>@ViewBag.AnimalName is @ViewBag.Animalspecies, which is under the @ViewBag.Animalclass family</p>
<p>It's age is: @ViewBag.Animalage</p>
<p>
    About @ViewBag.AnimalName
    <br />
    @ViewBag.AnimalDescription
</p>
@if (ViewBag.User == true || ViewBag.Admin)
{
    <h4>Add Comment</h4>
    <form asp-controller="Animals" asp-action="NewComment" method="post">
        <div>
            <input name="newComment" placeholder="Write Comment" />
            <input name="AnimalId" type="hidden" value="@ViewBag.AnimalId" />
        </div>
        <input type="submit" name="AnimalId" value="comment" />
    </form>
}
<h4>Comments</h4>
@if (Model != null)
{
    @foreach (var c in Model)
    {
        <div>
            <ul>
                <li>
                    @c.Comments
                </li>
            </ul>
        </div>
    }
}
