@model ThirdWebZoo.Models.AllModel
@{
}
<br />
<center>
    <video loop autoplay muted>
        <source src="Videos/HomepageZooVideo.mp4" type="video/mp4" />
    </video>
</center>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Species</th>
            <th scope="col">Description</th>
            <th scope="col">Number Of Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model.AllAnimals!)
        {
            <tr>
                <td>@animal.AnimalId</td>
                <td><img class="myPic" src="@animal.AnimalPicture"></td>
                <td>@animal.Species</td>
                <td>@animal.Description</td>
                <td>@if (@animal.Comments_Animals != null)
                    {@animal.Comments_Animals!.Count }
                    else { @ViewBag.Empty }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Our zoo is located in a beautiful valley in southwestern Jerusalem and extends over an area of hundreds of dunams.

The zoo has expansive grassy areas, as well as many pleasant, shaded corners, a large lake, and waterfalls.  The man-made lake and its waters are purified and recirculated. The zoo is built on two levels, along which are the animal exhibits and a circular pathway. The two levels are connected through pathways, as well as an additional exhibit.

The zoo is a non-profit institution and is the result of the efforts and investment by partners: the Jerusalem municipality, the Jerusalem Foundation, the Jerusalem Development Authority, and the Ministry of Tourism.

Establishment of the zoo was made possible by a donation from the Tisch family of New York, USA, through the Jerusalem Foundation. The naming ceremony took place in the presence of then President of Israel, Mr. Haim Herzog, of blessed memory, and members of the Tisch family in November 1992. On September 9, 1993, an official ceremony opened the zoo. The zoo was planned by the Miller-Blum architectural firm and built by Moriah – the Company for Jerusalem Development. Since its opening, many new exhibits have opened, and many resources have been invested, mainly through donations to the zoo.

</p>
@await Html.PartialAsync("_MapBtnPartialView")
@await Html.PartialAsync("_AdminBtnPartialView")