@model ThirdWebZoo.Models.AllModel
@{
}
<center>
    <video loop autoplay muted>
        <source src="Videos/HomepageZooVideo.mp4" type="video/mp4" />
    </video>
</center>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Species</th>
            <th scope="col">Description</th>
            <th scope="col">Number Of Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model.AllAnimals!)
        {
            <tr>
                <td>@animal.AnimalId</td>
                <td><img class="myPic" src="@animal.AnimalPicture"></td>
                <td>@animal.Species</td>
                <td>@animal.Description</td>
                <td>@animal.Comments_Animals.Count</td>
            </tr>
        }
    </tbody>
</table>
