@model IEnumerable<ThirdWebZoo.Models.Comment>
@{
    ViewData["Title"] = "GetToComments";
}

<h1>@ViewBag.Animalname</h1>
@foreach (var comment in Model)
{
    <div>@comment.CommentId</div>
    <div>@comment.Comments</div>
    @if (ViewBag.Admin == true)
    {
    <div>
        <a asp-action="DeleteComment" asp-controller="Admin" asp-route-commentId="@comment.CommentId">
            Delete Comment
        </a>
    </div>
    <form asp-controller="Admin" asp-action="EditComment" method="post">
        <div>
            <input type="text" name="editedcomment" placeholder="Edit Comment" />
            <input name="commentId" type="hidden" value="@comment.CommentId" />
        </div>
        <input type="submit" name="commentId" value="Edit" />
    </form>
    }
}